Flask==1.1.1
beautifulsoup4==4.4.1
requests==2.9.1
gunicorn==19.9.0
regex==2017.4.5
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
nltk>=3.4.5

suggestion for using the virtual environment for developing such an awesome project
because as we know that after some time later, these all module's version will become changed
and we are using here this older version, so it is better to keep these all modules in a virtual environment
so that, even if its older version become changed to new version, there will be no effect on our project

